/* Début du menu */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Darker Grotesque', sans-serif;
}

.nav-container{
    height:auto;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: #232323;
    position: sticky;
    top:0;
    font-size:25px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    padding: 15px 0px;
    font-size:15px;
    
}

nav a:hover{
    color: deepskyblue;
    border-bottom: 2px solid #00bfff;
    transition: 0.5s;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #FFFFFF;
    background-color: #232323;
    position: absolute;
    width: 100%;
    z-index: 1000;
    text-align:center;
    text-transform: uppercase;
    font-size: 12px;
}

/* Cible un sous-menu ".sous" lorsqu’un utilisateur passe sa souris sur un élément li de la liste représentant notre menu principal. */
nav > ul li:hover .sous{
    display: block;
    width: auto; 
}

.sous li{
    width: 100%;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: #353535;
}

/* Fin du menu */

blockquote{
    display: none;
}

blockquote:target{
    display: block;
    padding: 12px;
    font-size: 12px;
    color: #fff;
    background-color: #00bfff;
}

a > i{
    padding-left: 100px;
    padding-right:100px;
    font-size: 20px;
}

p{
    color:white;
    display:flex;
    align-content: center;
}

.titre{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);   
    color:#FFFFFF;
    text-transform:uppercase;
}

.arrows{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.arrows i {
    font-size:20px; /* Vous pouvez ajuster la taille de vos flèches ici */
    margin:0 10px; /* Cela ajoutera un espace de 5 pixels entre les flèches horizontalement */
}